.how-it-works-section {
    padding: 4rem 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 8px;
    background-color: #f0f0f0;
    box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;

    /* background-color: #2f2f2f; */
    /* background-color: rgb(40, 40, 40); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .how-it-works-section h2 {
    /* font-size: 2.5rem; */
    font-size: 1.8rem; 
    font-family: 'Montserrat', sans-serif;
    color: #FF5722;
    margin-bottom: 1rem;
  }
  
  .how-it-works-section > p{
    width: 60%;
    margin-bottom: 3rem;
  }
  .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
  }
  
  .step {
    background-color: #e0e0e0;
    /* background-color: rgb(60, 60, 60); */
    border-radius: 15px;
    /* box-shadow: 5px 5px 10px #b0b0b0, -5px -5px 10px #ffffff; */
    padding: 1.5rem;
    text-align: center;
    max-width: 300px;
    transition: scale 0.3s;
    cursor: pointer;
    /* flex: 1 1 30%; */
  }

  /* .step:hover{
    scale: 1.05;
    /* box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #ffffff; */
    /* box-shadow: 5px 5px 10px #4d4d4d, -3px -3px 6px #1a1a1a; Neumorphism effect on hover */

  /* } */ 
  
  .step .fa-icon {
    color: #1E88E5; 
    margin-bottom: 1rem;
  }

  
  .step img {
    width: 40px;
    height: 40px;
    margin-bottom: 1rem;
    color: #E64A19;
  }
  
  .step h3 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #222;
    /* color: #fff; */
    margin-bottom: 0.5rem;
  }
  
  .step p {
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    color: #555;
    /* color: #ddd; */
  }
  
  .cta {
    margin-top: 3rem;
  }
  
  .cta button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #FF5722;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; */
    /* box-shadow: 5px 5px 10px #1a1a1a, -3px -3px 6px #4d4d4d; */
    transition: background-color 0.3s;
  }
  
  .cta button:hover {
    /* background-color: #555; */
    opacity: 0.9;
    }
  

  @media only screen and (max-width: 600px){
    .how-it-works-section h2{
      font-size: 1.4rem;
    }

    .step img {
      width: 20px;
      height: 20px;
    }

    .step h3 {
      font-size: 1rem;
    }

    .cta button {
      padding: 1rem 1rem;
      font-size: 1rem;
    }
  }