.testimonial-section{
    padding: 4rem 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;
}

.testimonial-section-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonials-view{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.testimonials-heading > h2{
    margin: 0;
    color: #FF5722; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (max-width: 600px){
    .testimonials-heading > h2{
        font-size: 1.4rem;
    }
}