.features-section{
    padding: 4rem 2rem;
    text-align: center;
    margin: 1rem;
    border-radius: 8px;
    background-color: #fff;
    /* background-color: rgb(40, 40, 40); */
    box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; 
}

.features-section-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}

.features-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-heading > h2{
    margin: 0;
    font-size: 1.8rem; 
    color: #FF5722; 
}

.features-heading > p {
    width: 60%;
    font-size: 1.15rem; /* Added this to style the paragraph under the heading */
    /* color: #777; */
    color: #000;
    margin: 1rem 0; /* Added margin for spacing */
}

.features-section-wrapper .features-info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
    flex-wrap: wrap;
    
}

.features-info .features-column{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1rem; */
}


@media only screen and (max-width: 800px) {
    .features-info {
      flex-direction: column;
      /* justify-content: center; */
      align-items: center;
    }

    .features-info .features-column{
        width: 100%;
    }
    
    .features-heading p{
        font-size: 1rem;
    }
}