.mentorship-program-section {
    padding: 4rem 2rem;
    /* text-align: center; */
    margin: 1rem;
    border-radius: 8px;
    /* background-color: #fff; */
    background-color: #2f2f2f;
    /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; */
    box-shadow: 5px 5px 10px #333333, -5px -5px 10px #3f3f3f;
  }

  .mentorship-program-section-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .mentorship-program-section-wrapper .content{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    
  }


  .mentorship-program-section-wrapper .content .heading{
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 1rem;
    /* margin-bottom: 4rem; */
  }

.mentorship-program-section-wrapper .content .heading h2{
  font-size: 2rem;
  color: #FF5722; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
  
  /* .mentorship-program-section .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  .mentorship-program-section-wrapper .content p{
    text-align: start;
    font-size: 1.2rem;
    color: #fff;
  }

  /* .mentorship-titles {
    flex: 1;
    padding: 2rem;
  } */
  
  .mentorship-item {
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
    background-color: transparent;
    /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; */
  }
  
  .mentorship-item:hover {
    transform: translateY(-5px);
  }

  .mentorship-title-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .mentorship-icon {
    margin-right: 10px;
    font-size: 1.25rem;
    /* color: #333; */
    color: #FF5722;
  }
  
  .mentorship-title {
    font-size: 1.5rem;
    /* color: #333; */
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  /* .mentorship-description {
    font-size: 1rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.2rem;
    margin-left: 1.5rem;
    transition: opacity 0.5s ease-out;
  } */

  .mentorship-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease, padding 0.3s ease;
    padding: 0 10px;
    font-size: 1rem;
    /* color: #333; */
    color: #fff;
    margin-left: 1.3rem;
  }
  
  .mentorship-description.show {
    max-height: 100px;
    /* padding: 0 10px; */
  }
  
  .mentorship-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mentorship-image img {
    max-height: 100%;
    width: 100%;
    border-radius: 12px;
    /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff; */
    box-shadow: 5px 5px 10px #333333, -5px -5px 10px #3f3f3f;

  }
  

@media only screen and (max-width: 800px){
  .mentorship-program-section-wrapper{
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px){
  .mentorship-program-section-wrapper .content .heading h2{
    font-size: 1.4rem;
  }

  .mentorship-program-section-wrapper .content .heading p{
    font-size: 1rem;
  }

  .mentorship-title{
    font-size: 1.15rem;
  }


}
