.discover-section {
    padding: 4rem 2rem;
    /* background-color: rgb(40, 40, 40); */
    background-color: #fff;
    color: white;
    border-radius: 8px;
    margin: 1rem;
    /* box-shadow: 5px 5px 10px #c7c7c7, -5px -5px 10px #ffffff;  */

  }
  
  .discover-section h2 {
    text-align: center;
    color: #FF5722;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .search-bar input {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    width: 50%;
    /* background-color: rgba(60, 60, 60, 1); */
    background-color: #f0f0f0;
    /* color: white; */
    color: #333;
  }
  
  .search-bar button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FF5722;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .search-bar button:hover {
    background-color: #E64A19;
  }
  
  .profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
  
  .profile-card {
    /* background-color: rgba(60, 60, 60, 1); */
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    text-align: center;
    /* color: white; */
    color: #333;
  }
  
  .profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .profile-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  
  .profile-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .tech-tag {
    background-color: #FF5722;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  
.msg-button{
  padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #FF5722;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.popular-tags {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.popular-tag {
  background-color: #f0f0f0;
  color: #333;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popular-tag:hover {
  background-color: #d0d0d0;
}

@media (max-width: 500px){
  .search-bar{
    flex-direction: column;
  }

  .search-bar input{
    width: 100%;
  }

  .search-bar button{
    width: 100px;
    align-self: center;
    padding: 0.75rem
  }
}