.testimonial{
    width: 300px;
    padding: 1rem 2rem;
    /* background-color: #e0e0e0; */
    background-color: #fff3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    transition: scale 0.3s;
    cursor: pointer;
    /* box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #ffffff; */
}

.testimonial:hover{
    scale: 1.05;
    box-shadow: 5px 5px 10px #cfcfcf, -5px -5px 10px #ffffff;
}
.testimonial .reviews{
    color: orange;
}

.testimonial .text{
    text-align: justify;
}

.testimonial .author{
    align-self: flex-end;
}


@media only screen and (max-width: 500px){
    .testimonial{
        width: 250px;
    }
}
